html {
    height: 100%;
}
body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 15px;
    color: white;
    font-family: "Inter";
}

.dashboard {
    display: grid;
    gap: 1.25vw;
    width: 100%;
    min-height: 0;
    /* min-height: auto overrides aspect ratio! */
    aspect-ratio: 11/5;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-areas:
        "calendar calendar calendar  calendar  job   job   job   job   goals goals goals"
        "calendar calendar calendar  calendar  job   job   job   job   goals goals goals"
        "timeline timeline deadlines deadlines tasks tasks tasks tasks habit habit habit"
        "timeline timeline deadlines deadlines tasks tasks tasks tasks habit habit habit"
        "timeline timeline wotd      countdown tasks tasks tasks tasks habit habit habit";
    flex-shrink: 0;
}

.widget-shell {
    container-type: inline-size;
    border: 1px solid hsla(0, 0%, 70%, 0.3); 
    backdrop-filter: blur(15px);
    background-color: hsla(0, 0%, 50%, 0.1);
    box-shadow: inset 0px 0px 20px hsla(0, 0%, 80%, 0.4);
    padding: 5px;
    border-radius: 1.5vw;
}

.countdown-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-number {
    margin: 0px;
    font-size: 50cqw;
}

.countdown-label {
    margin: 0px;
    font-size: 12cqw;
    text-align: center;
}

.wotd-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wotd {
    font-size: 50cqw;
    line-height: 1;
}

.pinyin {
    font-size: 20cqw;
}

.definition {
    font-size: 25cqw;
}

