

html {
    height: 100%;
}
body {
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 15px;
}

.dashboard {
    display: grid;
    gap: 15px;
    width: 100%;
    min-height: 0;
    /* min-height: auto overrides aspect ratio! */
    aspect-ratio: 11/5;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-areas:
        "wotd     calendar   calendar  calendar  job   job   job   job   goals       goals       goals"
        "timeline calendar   calendar  calendar  job   job   job   job   goals       goals       goals"
        "timeline birthdays  birthdays countdown tasks tasks tasks tasks heatmap     heatmap     heatmap"
        "timeline UNASSIGNED deadlines deadlines tasks tasks tasks tasks heatmap     heatmap     heatmap"
        "timeline UNASSIGNED deadlines deadlines tasks tasks tasks tasks habit-entry habit-entry habit-entry";
    flex-shrink: 0;
}

.widget-shell {
    container-type: inline-size;
    border: 2px solid hsla(0, 0%, 80%, 0.5);  
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    background:
    linear-gradient(135deg,
        hsla(0, 0%, 80%, 0.6),
        hsla(0, 0%, 65%, 0.4) 40%,
        hsla(0, 0%, 80%, 0.6));
    box-shadow: inset 1px 1px 10px hsla(0, 0%, 80%, 0.5);
}

.countdown-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: countdown;
}

.countdown-number {
    margin: 0px;
    font-size: clamp(1.5rem, 50cqw, 6rem);
    color: hsla(0, 0%, 12%, 0.9);
    text-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.5);
}

.countdown-label {
    margin: 0px;
    font-size: clamp(0.5rem, 10cqw, 2rem);
    text-align: center;
    color: hsla(0, 0%, 12%, 0.9);
    text-shadow: 0 1px 2px hsla(0, 0%, 100%, 0.5);
}